/* Utility Navigation */
#block-cumc-blocks-cumc-utility-links { float:right; margin-top:14px; }

#block-cumc-blocks-cumc-utility-links li { border-left:1px solid #fff; color:#fff; float:left; font-size:10px; margin-left:6px; padding-left:6px; }
#block-cumc-blocks-cumc-utility-links li:first-child { border-left:none; margin:0; padding:0; }

#block-cumc-blocks-cumc-utility-links li a:link,
#block-cumc-blocks-cumc-utility-links li a:active,
#block-cumc-blocks-cumc-utility-links li a:visited { color:#fff; }


/* Search Section */
#block-cumc-blocks-cumc-search-form { float:right; margin-top:10px; }

#cumc-search-form { }

#cumc-search-form legend { display:none; }

#cumc-search-form .search-fields { background:url(../img/bg/search.png) no-repeat 100% 0; height:26px; margin-left:65px; position:relative; width:165px; }
#cumc-search-form .form-submit { left:-45px; position:absolute; top:1px; }
#cumc-search-form .form-text { border:none; color:#336699; font-size:13px; height:17px; letter-spacing:0.07em; margin:2px 0 0 28px; padding:2px 0; width:128px; }

#cumc-search-form .search-domains { margin-right:10px; text-align:right; }
#cumc-search-form .search-domains input { vertical-align:bottom; }
#cumc-search-form .search-domains label { color:#fff; font-size:10px; margin-right:4px; }

#block-cumc-blocks-cumc-front-page-image-rotator { position:relative; }

#block-cumc-blocks-cumc-front-page-image-rotator li img { display:none; left:0; position:absolute; top:0; }
#block-cumc-blocks-cumc-front-page-image-rotator li:first-child img { display:block; }

/* Contact Information */
#block-cumc-blocks-cumc-contact-info { float:right; font-size:12px; text-align:right; }
#block-cumc-blocks-cumc-contact-info .url,
#block-cumc-blocks-cumc-contact-info .country-name,
#block-cumc-blocks-cumc-contact-info .work-tel .type,
#block-cumc-blocks-cumc-contact-info .hcard { display:none; }

#block-cumc-blocks-cumc-contact-info .street-address,
#block-cumc-blocks-cumc-contact-info .extended-address { display:inline; }

#block-cumc-blocks-cumc-contact-info .extended-address,
#block-cumc-blocks-cumc-contact-info .fax { border-left:1px solid #000; margin-left:6px; padding-left:6px; }

/* CUMC logo */
#cumc-logo { background:url(../img/icon/cumc.png) no-repeat 0 0; height:31px; left:-51px; position:relative; text-indent:-9999px; top:-20px; width:194px; }

/* Footer Navigation */

#block-cumc-blocks-cumc-general-info { padding:20px 0; width:100%;}
#block-cumc-blocks-cumc-general-info ul { float:right; margin-top:3px; text-align:right; }
#block-cumc-blocks-cumc-general-info li { border-left:1px solid #fff; color:#d8d8d8; float:left; font-size:10px; letter-spacing:0.02em; line-height:1.25; list-style:none; padding:0px 4px; }
#block-cumc-blocks-cumc-general-info li:first-child { border-left:none; }
#block-cumc-blocks-cumc-general-info a { color:#d8d8d8; }
#block-cumc-blocks-cumc-general-info a:hover { color:#fff; }
#block-cumc-blocks-cumc-general-info li h2 {font-weight:bold; line-height: 2em; font-size: 12px; color:#d8d8d8;}

/* Logos and badges */
#cumc-logo { background:url(../img/icon/cumc.png) no-repeat 0 0; height:31px; left:-51px; position:relative; text-indent:-9999px; top:-20px; width:194px; }

#block-cumc-blocks-cumc-columbia-doctors-logo { float:left; }
#block-cumc-blocks-cumc-columbia-doctors-logo .logo { background:url(../img/icon/columbia_doctors.png) no-repeat 0 0; height:58px; text-indent:-9999px; width:168px; }

#block-cumc-blocks-cumc-new-york-presbyterian-logo { float:left; }
#block-cumc-blocks-cumc-new-york-presbyterian-logo .logo { background:url(../img/icon/new_york_presbyterian.png) no-repeat 0 0; height:26px; text-indent:-9999px; width:175px; }

/* Content menu */
#content-main .block-menu { float:left; margin-top:30px; width: 208px; }

#content-main .block-menu .title { background-color:transparent; color:#000; font-size:20px; margin:10px 0px 15px 26px; padding:0; }

#content-main .block-menu .content { font-size:12px; margin:0 0 0 26px; }

#content-main .block-menu .menu li { margin:10px 0; }

#content-main .block-menu .menu a { color:#000; }
#content-main .block-menu .menu a.active { font-weight:bold; }

#content-main .block-menu .menu .menu { margin-left:10px; }
