/* Pediatrics Header Regions
-------------------------------------------------------------- */

#header-group-wrapper { margin-top:10px; }
#header-group {overflow: visible;}
#header-group-inner { position:relative;}
#header-site-info { display:inline; float:left;}
#header-site-info #logo { width:220px; float:left;}

#header-top-wrapper { height:35px; background-color:#003366;}
#header-top-wrapper #header-top {width:960px; margin:0 auto;}

#header-group-inner .block { margin:0; padding:0; }
#header-top-wrapper #block-cumc_blocks-cumc_utility_links { float:right; margin:8px 0 0 0;}
#header-top-wrapper #block-cumc_blocks-cumc_utility_links .content ul li { border-left:1px solid #336699; color:#fff; float:left; font-size:10px; margin-left:6px; padding-left:6px; list-style:none;}
#header-top-wrapper #block-cumc_blocks-cumc_utility_links .content li:first-child { border-left:none; margin:0; padding:0; }
#header-top-wrapper #block-cumc-blocks-cumc-utility-links li a:link,
#header-top-wrapper #block-cumc-blocks-cumc-utility-links li a:active,
#header-top-wrapper #block-cumc-blocks-cumc-utility-links li a:visited { color:#ffffff; float:left;}
#block-cumc_blocks-cumc_utility_links ul li a { color:#ffffff;}

.front-news-scroll { background:url(../images/news_scroll_bg.jpg) no-repeat;  width:960px; height:30px; display:block;}

.front-news-scroll ul{ margin-left:120px; margin-top:6px;}
.front-news-scroll ul li{ list-style:none;}

ul.footer-credit { float:right; margin:14px 8px 14px 0;}

/*  Search Block  */

#header-top-wrapper #block-cumc_blocks-cumc_search_form { width:176px; margin:0; padding:0; float:right;}
#cumc-search-form {  margin:0; padding:0; background:url(../img/bg/search.png) no-repeat 100% 0; }
#cumc-search-form legend { display:none; }
#cumc-search-form .search-fields {position:relative; height:24px; position:relative;  margin-top:6px; padding:0; background:none;  margin-left: 0px; border:none; width:176px;}
#cumc-search-form .search-fields .form-submit { position:absolute; right:5px; bottom:3px;background-color:transparent; width:13px; height:13px; }
#cumc-search-form .search-fields .form-text { border:none; color:#ffffff; font-size:11px; height:13px; letter-spacing:0.042em; margin:4px 0 0 5px; padding:2px 0; position:absolute; top:0px;}
.search-fields input#cumc-search-form-text { background-color:#1f4f80; }


#primary-menu { background-color:#003366;}
#primary-menu li a:link, #primary-menu li a:active, #primary-menu li a:visited { color:#FFFFFF;}
#primary-menu li a:hover { color:#66ccff;}

#footer-wrapper {}
#footer-wrapper li { display:inline;}

table.calendar { width:960px; margin-top:10px;}
table.calendar td { padding:1px 4px;}
table.calendar td.title { font-size:13px; font-weight:bold;}
table.calendar td a:link, table.calendar td a:visited, table.calendar td a:active{ color:#003366;}

/* Front Events Block */
.postscript-bottom-wrapper { margin:0 auto; width:960px;}
.postscript-bottom-wrapper .block { padding:0; margin:0;}
.front-events { background-color:#99adc2; height:165px; width:432px; margin:0; padding:0; display:block;}
.pediatric-residency {width:224px;}
.dean-video {  height:165px; width:240px;}

/*.sidebar-first-inner h2.title { margin:45px 0 0 0;}
.sidebar-first ul.menu { background-color:#f2f2ea; display:block; padding:0; margin:0; width:220px; border:1px solid #d4d4d4;}
.sidebar-first ul.menu li{ list-style:none; padding:7px 10px 7px 10px; margin:0; border-bottom:1px solid #d6d5d0;}
.sidebar-first ul.menu li li {  border:none;}
.sidebar-first ul.menu li a:link, .sidebar-first ul.menu li a:active, .sidebar-first ul.menu li a:visited {color:#36546b;}
.sidebar-first ul.menu li a:hover { text-decoration:none; color:#699;}
.sidebar-first ul.menu ul { border:none; width:200px;}*/

#main-content h1.title {margin:45px 0 10px 0; border-bottom:7px solid #000; font-family: "adelle", serif; font-size:30px; font-weight:600; padding-bottom:3px;}







/* Site Info
-------------------------------------------------------------- */

#header-site-info #site-name-wrapper {float: left;   /* LTR */  }
#site-name {height:78px; width:402px; background:url(../images/logo-pediatrics.png) no-repeat; text-indent:-999em; margin:10px 0 0 0; padding:0;}

