/* Pediatrics Header Regions
-------------------------------------------------------------- */

body {color: rgb(70,70,70)}

#header-group-wrapper { margin-top:10px; }
#header-group {overflow: visible;}
#header-group-inner { position:relative;}
#header-site-info { display:inline; float:left;}
#header-site-info #logo { width:220px; float:left;}

#header-top-wrapper { height:35px; background-color:#003366;}
#header-top-wrapper #header-top {width:960px; margin:0 auto;}

#header-group-inner .block { margin:0; padding:0; }
#header-top-wrapper #block-cumc_blocks-cumc_utility_links { float:right; margin:8px 0 0 0;}
#header-top-wrapper #block-cumc_blocks-cumc_utility_links .content ul li { border-left:1px solid #336699; color:#fff; float:left; font-size:10px; margin-left:6px; padding-left:6px; list-style:none;}
#header-top-wrapper #block-cumc_blocks-cumc_utility_links .content li:first-child { border-left:none; margin:0; padding:0; }
#header-top-wrapper #block-cumc-blocks-cumc-utility-links li a:link,
#header-top-wrapper #block-cumc-blocks-cumc-utility-links li a:active,
#header-top-wrapper #block-cumc-blocks-cumc-utility-links li a:visited { color:#ffffff; float:left;}
#block-cumc_blocks-cumc_utility_links ul li a { color:#ffffff;}

.front-news-scroll { background:url(../images/news_scroll_bg.jpg) no-repeat;  width:960px; height:30px; display:block;}

.front-news-scroll ul{ margin-left:120px; margin-top:6px;}
.front-news-scroll ul li{ list-style:none;}

ul.footer-credit { float:right; margin:20px 8px 14px 0;}

/*  Search Block  */

#header-top-wrapper #block-cumc_blocks-cumc_search_form { width:176px; margin:0; padding:0; float:right;}
#cumc-search-form {  margin:0; padding:0; background:url(../img/bg/search.png) no-repeat 100% 0; }
#cumc-search-form legend { display:none; }
#cumc-search-form .search-fields {position:relative; height:24px; position:relative;  margin-top:6px; padding:0; background:none;  margin-left: 0px; border:none; width:176px;}
#cumc-search-form .search-fields .form-submit { position:absolute; right:5px; bottom:3px;background-color:transparent; width:13px; height:13px; }
#cumc-search-form .search-fields .form-text { border:none; color:#ffffff; font-size:11px; height:13px; letter-spacing:0.042em; margin:4px 0 0 5px; padding:2px 0; position:absolute; top:0px;}
.search-fields input#cumc-search-form-text { background-color:#1f4f80; }


#primary-menu { background-color:#003366;}
#primary-menu li a:link, #primary-menu li a:active, #primary-menu li a:visited { color:#FFFFFF; font-family:"pragmatica-web",sans-serif; font-size:12px; padding:5px 15px 0 15px; margin:0; line-height:2.25em; letter-spacing:0.065em;}
#primary-menu li a:hover, #primary-menu li a.active { color: rgb(255,255,255); background: RGB(23,112,181);}

#footer-wrapper {}
#footer-wrapper li { display:inline;}
.logo-ms { float:left; width:210px; margin-top:15px; margin-left:14px;}

#main-wrapper { border: 0; border-bottom:1px solid #CCC; width:960px; margin:0 auto;}
.main-content .content-inner-inner { padding:0;}
.main-content .content-inner-inner p{ font-size:12px; line-height:1.5em; letter-spacing:0.045em; margin: 0 0 1.5em 0;}
.main-content .content-inner-inner h2.head { color:#036;}

table.calendar { width:960px; margin-top:0px;}
table.calendar td { padding:1px 4px;}
table.calendar td.title { font-size:13px; font-weight:bold;}
table.calendar td a:link, table.calendar td a:visited, table.calendar td a:active{ color:#003366;}

/* Front Events Block */
.postscript-bottom-wrapper { margin:0 auto; width:960px;}
.postscript-bottom-wrapper .block { padding:0; margin:0;}
.front-events { background-color:#99adc2; height:165px; width:432px; margin:0; padding:0; display:block;}
.pediatric-residency {width:224px;}
.dean-video {  height:165px; width:240px;}

.sidebar-first-inner h2.title { }
.sidebar-first .block ul { margin:55px 0 2em 0px; padding:0; width:220px; }
/*
.sidebar-first .block ul li a { color:#36546b; }
.sidebar-first .block ul li a:hover { text-decoration:none; color:#5088b2;}
*/
.sidebar-first a:link, .sidebar-first a:active, .sidebar-first a:visited { color:#36546b;display: block;}
.sidebar-first a:hover { text-decoration:none; color: rgb(255,255,255); background: rgb(212,153,7);}
.sidebar-first li.leaf { padding:0px 0px 3px 0px; border-bottom:1px dotted #7B8787; /*list-style-image: url("../../misc/menu-leaf.png"); list-style-type: square;*/ list-style:none; font-size:12px;}
.sidebar-first li.leaf li.leaf {border-bottom:none; }

.sidebar-first li.collapsed, .sidebar-first li.expanded { padding:0px 0px 3px 0px; margin:0; border-bottom:1px dotted #7B8787; width:220px; /*list-style-image: url("../../misc/menu-leaf.png"); list-style-type: square;*/ list-style:none; font-size:12px;}

.sidebar-first li.collapsed { background:url(../images/btn-collapsed.png) no-repeat scroll right 10px transparent;}
.sidebar-first li.expanded {background:url(../images/btn-expanded.png) no-repeat scroll right 10px transparent;} 
.sidebar-first li.expanded ul li.leaf { border-bottom:none; padding:3px 0px 3px 10px; margin:0;}
.sidebar-first li.expanded ul { margin:0;}

#main-content h1.title {color: rgb(212,153,7); margin:45px 0 10px 0; border-bottom:1px solid  #140064; font-family: "adelle", georgia, serif; font-size:32px; font-weight:400; padding-bottom:.5em;}

ul.menu li a {line-height: 1.3em; padding: 5px 20px 5px 5px; display: block;}

	ul.menu li a.active {background: RGB(23,112,181); color: white; padding-right: 5px;}
	ul.menu li a.hover { text-decoration:none; color: rgb(255,255,255); background: rgb(212,153,7);}

#content-region table {padding: 1em; border-top: solid 3px #7B8787; }
#content-region table td {border-bottom: 1px dotted #7B8787; padding: 10px;}
#content-region table td p {margin: 0;}
#content-region p img {margin: 15px;}

img.header-pic {width: 100%; margin-bottom: 20px;}

/* Site Info
-------------------------------------------------------------- */

#header-site-info #site-name-wrapper {float: left;   /* LTR */  }
#site-name {height:78px; width:402px; background:url(../images/logo-pediatrics.png) no-repeat; text-indent:-999em; margin:10px 0 0 0; padding:0;}

