/* Pediatrics Header Regions
-------------------------------------------------------------- */


#header-group-wrapper { margin-top:10px; }
#header-group {overflow: visible;}
#header-group-inner { position:relative;}
#header-site-info { display:inline; float:left;}
#header-site-info #logo { width:220px; float:left;}

#header-top-wrapper { height:35px; background-color:#003366;}
#header-top-wrapper #header-top { margin:0 auto; width:960px;}


#header-group-inner .block { margin:0; padding:0; }
#header-top-wrapper #block-cumc_blocks-cumc_utility_links { float:right; margin:8px 0 0 0;}
#header-top-wrapper #block-cumc_blocks-cumc_utility_links .content ul li { border-left:1px solid #336699; color:#fff; float:left; font-size:10px; margin-left:6px; padding-left:6px; list-style:none;}
#header-top-wrapper #block-cumc_blocks-cumc_utility_links .content li:first-child { border-left:none; margin:0; padding:0; }
#header-top-wrapper #block-cumc-blocks-cumc-utility-links li a:link,
#header-top-wrapper #block-cumc-blocks-cumc-utility-links li a:active,
#header-top-wrapper #block-cumc-blocks-cumc-utility-links li a:visited { color:#ffffff; float:left;}
#block-cumc_blocks-cumc_utility_links ul li a { color:#ffffff;}


/*  Search Block  */

#header-top-wrapper #block-cumc_blocks-cumc_search_form { width:176px; margin:0; padding:0; float:right;}
#cumc-search-form {  margin:0; padding:0; background:url(../img/bg/search.png) no-repeat 100% 0; }
#cumc-search-form legend { display:none; }
#cumc-search-form .search-fields {position:relative; height:24px; position:relative;  margin-top:6px; padding:0; background:none;  margin-left: 0px; border:none; width:176px;}
#cumc-search-form .search-fields .form-submit { position:absolute; right:5px; bottom:3px;background-color:transparent; width:13px; height:13px; }
#cumc-search-form .search-fields .form-text { border:none; color:#ffffff; font-size:11px; height:13px; letter-spacing:0.042em; margin:4px 0 0 5px; padding:2px 0; position:absolute; top:0px;}
.search-fields input#cumc-search-form-text { background-color:#1f4f80; }


#primary-menu { background-color:#003366;}
#primary-menu li a:link, #primary-menu li a:active, #primary-menu li a:visited { color:#FFFFFF;}
#primary-menu li a:hover { color:#66ccff;}

#footer-wrapper {}
#footer-wrapper li { display:inline;}

table.calendar { width:960px; margin-top:10px;}
table.calendar td { padding:1px 4px;}
table.calendar td.title { font-size:13px; font-weight:bold;}
table.calendar td a:link, table.calendar td a:visited, table.calendar td a:active{ color:#003366;}


/* Site Info
-------------------------------------------------------------- */

#header-site-info #site-name-wrapper {float: left;   /* LTR */  }
#site-name {height:78px; width:402px; background:url(../images/logo-pediatrics.png) no-repeat; text-indent:-999em; margin:10px 0 0 0; padding:0;}

