/* Pediatrics Header Regions
-------------------------------------------------------------- */


#header-group-wrapper { margin-top:10px; }
#header-group {overflow: visible;}
#header-group-inner { position:relative;}

#header-group-inner .block { margin:0; padding:0;}
#header-group-inner #block-cumc_blocks-cumc_utility_links {position:absolute; top:5px; left:440px;}
#header-group-inner #block-cumc_blocks-cumc_utility_links .content ul li { border-left:1px solid #336699; color:#fff; float:left; font-size:10px; margin-left:6px; padding-left:6px; list-style:none;}
#header-group-inner #block-cumc_blocks-cumc_utility_links .content li:first-child { border-left:none; margin:0; padding:0; }
#header-group-inner #block-cumc-blocks-cumc-utility-links li a:link,
#header-group-inner #block-cumc-blocks-cumc-utility-links li a:active,
#header-group-inner #block-cumc-blocks-cumc-utility-links li a:visited { color:#036; float:left;}
#block-cumc_blocks-cumc_utility_links ul li a { color:#036;}


/*  Search Block  */

#header-group-inner #block-cumc_blocks-cumc_search_form { position:absolute; top:-16px; right:14px; width:224px; margin:0; padding:0;}
#cumc-search-form { position:relative; margin:0; padding:0; }
#cumc-search-form legend { display:none; }
#cumc-search-form .search-fields { background:url(../img/bg/search.png) no-repeat 100% 0; height:26px; margin-left:65px; position:relative; width:165px;border:none; float:right; margin-top:16px; padding:0;}
#cumc-search-form .search-fields .form-submit { left:-54px; position:absolute; top:-4px; }
#cumc-search-form .search-fields .form-text { border:none; color:#336699; font-size:11px; height:13px; letter-spacing:0.042em; margin:4px 0 0 30px; padding:2px 0; width:128px; position:absolute; top:0px;}


/* Site Info
-------------------------------------------------------------- */

#site-name-wrapper {float: left;   /* LTR */  }
#site-name {height:34px; width:610px; background:url(../images/site-name.gif) no-repeat; text-indent:-999em; margin:10px 0 0 0; padding:0;}
