/* Pediatrics Header Regions
-------------------------------------------------------------- */

#header-group-wrapper { margin-top:10px; }
#header-group {overflow: visible;}
#header-group-inner { position:relative;}
#header-site-info { display:inline; float:left;}
#header-site-info #logo { width:220px; float:left;}

#header-top-wrapper { height:35px; background-color:#003366;}
#header-top-wrapper #header-top {width:960px; margin:0 auto;}

#header-group-inner .block { margin:0; padding:0; }
#header-top-wrapper #block-cumc_blocks-cumc_utility_links { float:right; margin:8px 0 0 0;}
#header-top-wrapper #block-cumc_blocks-cumc_utility_links .content ul li { border-left:1px solid #336699; color:#fff; float:left; font-size:10px; margin-left:6px; padding-left:6px; list-style:none;}
#header-top-wrapper #block-cumc_blocks-cumc_utility_links .content li:first-child { border-left:none; margin:0; padding:0; }
#header-top-wrapper #block-cumc-blocks-cumc-utility-links li a:link,
#header-top-wrapper #block-cumc-blocks-cumc-utility-links li a:active,
#header-top-wrapper #block-cumc-blocks-cumc-utility-links li a:visited { color:#ffffff; float:left;}
#block-cumc_blocks-cumc_utility_links ul li a { color:#ffffff;}

.front-news-scroll { background:url(../images/news_scroll_bg.jpg) no-repeat;  width:960px; height:30px; display:block;}

.front-news-scroll ul{ margin-left:120px; margin-top:6px;}
.front-news-scroll ul li{ list-style:none;}

ul.footer-credit { float:right; margin:14px 8px 14px 0;}

/*  Search Block  */

#header-top-wrapper #block-cumc_blocks-cumc_search_form { width:176px; margin:0; padding:0; float:right;}
#cumc-search-form {  margin:0; padding:0; background:url(../img/bg/search.png) no-repeat 100% 0; }
#cumc-search-form legend { display:none; }
#cumc-search-form .search-fields {position:relative; height:24px; position:relative;  margin-top:6px; padding:0; background:none;  margin-left: 0px; border:none; width:176px;}
#cumc-search-form .search-fields .form-submit { position:absolute; right:5px; bottom:3px;background-color:transparent; width:13px; height:13px; }
#cumc-search-form .search-fields .form-text { border:none; color:#ffffff; font-size:11px; height:13px; letter-spacing:0.042em; margin:4px 0 0 5px; padding:2px 0; position:absolute; top:0px;}
.search-fields input#cumc-search-form-text { background-color:#1f4f80; }


#primary-menu { background-color:#003366;}
#primary-menu li a:link, #primary-menu li a:active, #primary-menu li a:visited { color:#FFFFFF; font-family:"pragmatica-web",sans-serif; font-size:12px; padding:5px 15px 0 15px; margin:0; line-height:2.25em; letter-spacing:0.065em;}
#primary-menu li a:hover { color:#cad8e6;}

#footer-wrapper {}
#footer-wrapper li { display:inline;}

#main-wrapper { border-right:1px solid #CCC; border-left:1px solid #CCC; border-bottom:1px solid #CCC; width:960px; margin:0 auto;}
.main-content .content-inner-inner { padding:0 15px 0 0;}
.main-content .content-inner-inner p{ font-size:12px; line-height:1.35em; letter-spacing:0.045em; margin-bottom:1.5em;}
.main-content .content-inner-inner h2.head { color:#036;}

table.calendar { width:960px; margin-top:10px;}
table.calendar td { padding:1px 4px;}
table.calendar td.title { font-size:13px; font-weight:bold;}
table.calendar td a:link, table.calendar td a:visited, table.calendar td a:active{ color:#003366;}

/* Front Events Block */
.postscript-bottom-wrapper { margin:0 auto; width:960px;}
.postscript-bottom-wrapper .block { padding:0; margin:0;}
.front-events { background-color:#99adc2; height:165px; width:432px; margin:0; padding:0; display:block;}
.pediatric-residency {width:224px;}
.dean-video {  height:165px; width:240px;}

.sidebar-first-inner h2.title { }
.sidebar-first .block ul { margin:62px 0 0 15px; padding:0; width:190px; }
/*
.sidebar-first .block ul li a { color:#36546b; }
.sidebar-first .block ul li a:hover { text-decoration:none; color:#5088b2;}
*/
.sidebar-first a:link, .sidebar-first a:active, .sidebar-first a:visited { color:#36546b;}
.sidebar-first a:hover { text-decoration:none; color:#666;}
.sidebar-first li.leaf { padding:8px 0px 3px 0px; border-bottom:1px dotted #7B8787; /*list-style-image: url("../../misc/menu-leaf.png"); list-style-type: square;*/ list-style:none; font-size:12px;}
.sidebar-first li.leaf li.leaf {border-bottom:none; }

.sidebar-first li.collapsed, .sidebar-first li.expanded { padding:8px 0px 3px 0px; margin:0; border-bottom:1px dotted #7B8787; width:190px; /*list-style-image: url("../../misc/menu-leaf.png"); list-style-type: square;*/ list-style:none; font-size:12px;}

.sidebar-first li.collapsed { background:url(../images/btn-collapsed.png) no-repeat scroll right 10px transparent;}
.sidebar-first li.expanded {background:url(../images/btn-expanded.png) no-repeat scroll right 10px transparent;} 
.sidebar-first li.expanded ul li.leaf { border-bottom:none; padding:3px 8px 3px 10px; margin:0;}
.sidebar-first li.expanded ul { margin:0;}

#main-content h1.title {margin:45px 0 10px 0; border-bottom:1px solid  #140064; font-family: "adelle", serif; font-size:25px; font-weight:600; padding-bottom:3px;}







/* Site Info
-------------------------------------------------------------- */

#header-site-info #site-name-wrapper {float: left;   /* LTR */  }
#site-name {height:78px; width:402px; background:url(../images/logo-pediatrics.png) no-repeat; text-indent:-999em; margin:10px 0 0 0; padding:0;}

