/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: "ff-basic-gothic-web-pro", sans-serif; color: #222; font-weight: 400; font-family: "ff-basic-gothic-web-pro-n4", "ff-basic-gothic-web-pro";; letter-spacing: -.005em; }

body { margin: 0; font-size: 1em; line-height: 1.4; min-height: 1110px;}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: rgb(210,153,43); background: rgba(210,153,43,.8); color: #fff; text-shadow: none; }
::selection { background: rgb(210,153,43); background: rgba(210,153,43,.8); color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #336699; text-decoration: none; }
a:visited { color: ##336699; }
a:hover { color: #d49907; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* .wf-loading {visibility: hidden;} */

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; list-style-position: outside; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
.ie7 img { vertical-align: inherit !important; display: block; float: right; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top;
	border: 1px dotted #4D8EC4;
    padding: 10px;
    vertical-align: top; }

th {border: 1px dotted #ffffff;
    background-color: #4D8EC4;
    padding: 10px;
    color: #fff;
    font-weight: 500; font-family: "ff-basic-gothic-web-pro-n5", "ff-basic-gothic-web-pro";
    padding-right: 1em;
    text-align: left;
    text-transform: uppercase;}
    
tbody {border: 1px dotted #4D8EC4;}    

/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ==|== primary styles =====================================================
   Author: Noah Miller (2012)
   ========================================================================== */


body {width: 100%; margin: 0; padding: 0; text-align: center; color: rgb(58,58,58); font-family: "ff-basic-gothic-web-pro", font-weight: 200; font-family: "ff-basic-gothic-web-pro-n2", "ff-basic-gothic-web-pro"; font-size: 12px; line-height: 1.5em;
background: rgb(236,238,246) url(../img/mainbg.jpg) bottom repeat-x;}
  	.wrapperheader {width: 1215px; height: 102px; margin: auto; background: rgb(236,238,246) url(../img/headerbg.png) center repeat-y;-webkit-box-shadow: 0px 20px 40px -40px ;
box-shadow: 0px 20px 30px -25px rgba(00, 00, 00, .5);  }
  	.pageheader {width: 960px; margin: 0 auto; text-align: left;}  	
  	
  	.wrapperfooter {width: 960px; margin: 0 auto 20px auto; text-align: left;}
  	
  	
	nav.primarynav {}
		nav.primarynav ul {min-width: 875px;}
		 nav.primarynav ul li {display: inline; width: auto; text-transform: uppercase; float: left; margin: 0; padding: 0;}
			 nav.primarynav ul li a{float: left; width: auto;}

		nav.secondarynav ul li { text-align: left;}

		.wrappermain {
			position: relative;
			left: 45px;
			z-index: 1;
			width: 875px;
			margin: auto;
			clear: left;
			text-align: left;
			zoom: 1;
			background: rgb(255,255,255);
			background: rgba(255,255,255,.7);
			-webkit-box-shadow: 0px 3px 5px 0px rgba(00, 00, 00, .5);
			box-shadow: 0px 3px 6px 2px rgba(00, 00, 00, .5);
			overflow: visible;
			visibility: visible;
			padding-left: -85px;
		}
		
		.wide .wrappermain {width: 960px; left: 0;}
		
	 		nav.secondarynav { z-index: 1; margin-left: 0;  top: 10px; position: relative;}

	#maincontent {
		padding: 20px;
		z-index: -1; 
		position: relative;
		padding-left: 135px;
		left: 0px;
		font-size: 1em; 
		line-height: 1.5em; 
		
	}
	.ie7 #maincontent {padding-left: 20px;}
	#maincontent hgroup {margin: 30px 0 1em 0; line-height: 2em; font-size: 1.5em}

	
	.img-wrapper {width: 100px; height: 100px; overflow: hidden; }
	.img-wrapper img {height: auto; width: 100px;}
	
	
	article {height: auto;
	display: inline;
		-moz-column-count: 2;
		-moz-column-gap: 2em;
		-webkit-column-count: 2;
		-webkit-column-gap: 2em;
		column-count: 2;
		column-gap: 2em;}
	aside {width: 30%; float: right;}
	footer {
	clear: both;
	margin-left: 85px;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF)";
	/* IE8 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF);
	/* IE6 & 7 */
	zoom: 1;
	background: rgba(255,255,255,.8);
	-webkit-box-shadow: 0px 3px 5px 0px rgba(00, 00, 00, .5);
	box-shadow: 0px 3px 6px 2px rgba(00, 00, 00, .5);
}

		.homepage footer, .page-division footer, .page-patient-care footer {clear: both; margin-left: 0px; }
			.homepage footer .sitemap ul { float: left; width: 175px;}
  	
#skip {display: none;}

h1 {color: rgb(210,153,42); font-weight: 500; font-family: "ff-basic-gothic-web-pro-n5", "ff-basic-gothic-web-pro"; text-transform: uppercase; font-family: "ff-basic-gothic-web-pro"; font-size: 2.5em; line-height: 1em; font-weight: 600; font-family: "ff-basic-gothic-web-pro-n6", "ff-basic-gothic-web-pro"; letter-spacing: -.05em;}
h1.pnslogo {background: url(../img/pnslogoblue.png) 0 10px no-repeat; width: 200px; height: 81px; padding: 10px 0px 0 0 ; border-right: solid 1px  #004990; margin-bottom: 10px;  }
h2.orgname {font-family: "ff-basic-gothic-web-pro", sans-serif; font-size: 36px; background: none; font-weight: 500; font-family: "ff-basic-gothic-web-pro-n5", "ff-basic-gothic-web-pro"; color: rgb(00,73,144); margin: 30px 0 0 10px;}
h3.title.block-title {display: none;}

h2 {font-size: 2em; font-weight: 500; font-family: "ff-basic-gothic-web-pro-n5", "ff-basic-gothic-web-pro"; line-height: 1.15em;}
h3 {font-size: 1.5em; font-weight: 500; font-family: "ff-basic-gothic-web-pro-n5", "ff-basic-gothic-web-pro";}
h4 {font-size: 1.5em;}
h5 {font-size: 1em; font-weight: bold;}

p {margin: 0 0 1.75em 0;}

li {margin-bottom: 1em;}








header.pageheader {display: block;}
	header hgroup {float: left; padding: 0px; margin: 0;}
		header hgroup h1{float: left; margin: 0;}
		header hgroup h2{float: left; margin: 0;}

div.navwrapper { background: rgb(0,73,144); font-size: .75em; margin: 0 auto; width: 100%; padding: 5px 0;  }	
nav.metanav {display: block; margin: 0 auto; width: 960px; text-align: center;  }
	nav.metanav ul {text-align: center; display: block;}
		nav.metanav ul li {display: inline;}
			nav.metanav ul li a, nav.metanav ul li a:visited{ color: #ffffff; padding: .5em 1.5em; text-decoration: none;}
			nav.metanav ul li a:hover{background: rgb(77,142,196); color: rgb(255,255,255);}

#block-cumc_blocks-cumc_utility_links {width: 100%;}
#block-cumc_blocks-cumc_utility_links ul{width: 100%;}

#block-cumc_blocks-cumc_search_form {float: right; margin: 0; padding: 0; width: 300px; clear: none; margin-top: -2.25em;}

#cumc-search-form-submit {display: none;}
#cumc-search-form .search-fields {background: none; margin: 0; padding: 0;float: left; width: 100%;  font-size: 1.15em;}
/* 
	.ie7 #cumc-search-form .search-fields {background: none; width: 350px; font-size: 1.15em;}
 */
#cumc-search-form { float: right; margin-bottom: 0em; color: #ffffff;}
	#cumc-search-form  .search-fields input#cumc-search-form-text{margin: 0;}


nav.primarynav { background: rgb(0,45,100); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMmQ2NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iIzAzNDk5MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  rgb(0,45,100) 0%, rgb(3,73,144) 47%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(0,45,100)), color-stop(47%,rgb(3,73,144))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgb(0,45,100) 0%,rgb(3,73,144) 47%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgb(0,45,100) 0%,rgb(3,73,144) 47%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgb(0,45,100) 0%,rgb(3,73,144) 47%); /* IE10+ */
background: linear-gradient(top,  rgb(0,45,100) 0%,rgb(3,73,144) 47%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002d64', endColorstr='#034990',GradientType=0 ); /* IE6-8 */
; font-size: 1em; margin: 0 auto; width: 100%; float: left; -webkit-box-shadow: 0px 3px 5px 0px rgba(00, 00, 00, .5); box-shadow: 0px 3px 6px 2px rgba(00, 00, 00, .5);

}

nav.primarynav { background: rgb(0,45,100);}

	nav.primarynav ul {display: block; margin: auto; float: left; text-align: center; }
		nav.primarynav ul li {display: block;}
			nav.primarynav ul li a, nav.primarynav ul li a:visited{display: block; color: #ffffff; padding: .5em 1.38em; text-decoration: none;}
			nav.primarynav ul li a:hover{background: rgb(77,142,196); color: rgb(255,255,255);}

			.section-home nav.primarynav ul  li.menu-1779 a,
			.section-about-us nav.primarynav ul  li.menu-3913 a,
			.section-division nav.primarynav ul  li.menu-3911 a,
			.section-patient-care nav.primarynav ul  li.menu-3383 a,
			.section-research nav.primarynav ul  li.menu-3912 a,
			.section-education-training nav.primarynav ul  li.menu-3917 a,
			.section-global-health nav.primarynav ul  li.menu-1754 a,
			.section-ways-to-give nav.primarynav ul  li.menu-1755 a {background: rgb(77,142,196); color: rgb(255,255,255);}
						a.givebutton { display: block; background: url(../img/securedonate.png) 0 0px no-repeat; width: 263px; height: 30px; }


 
 
 nav.secondarynav { font-size: 1em; margin: 20px 0px 10px -85px;  padding: 0; float: left; width: 200px; z-index: 10000;}
	 nav.secondarynav ul { /*border-bottom: 26px solid #f9f9fc;*/ display: block; margin: 0; padding: 0; float: left; clear: left; text-align: center; width: 200px;  
		 background: transparent;
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#F9FFFFFF,endColorstr=#F9FFFFFF)"; /* IE8 */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F9FFFFFF,endColorstr=#F9FFFFFF);   /* IE6 & 7 */
		  zoom: 1;
		  background: rgba(255,255,255,.98);
		
		 }
		 
		 
		 
		 nav.secondarynav ul li {display: block; border-bottom: dotted 1px rgb(77,142,196); margin:0; padding: 0;}
			 nav.secondarynav ul li a, nav.secondarynav ul li a:visited{display: block; padding: .5em 1.5em .5em 1.5em; text-decoration: none; font-weight: 500; font-family: "ff-basic-gothic-web-pro-n5", "ff-basic-gothic-web-pro"; color: rgb(0,73,144);}
			nav.secondarynav ul li a.active,  nav.secondarynav li.expanded a.active, nav.secondarynav ul li a.active:visited{background: #D2992A; color: rgb(255,255,255);}
				 nav.secondarynav ul li li a, nav.secondarynav ul li li a:visited{ padding-left: 2.5em !important; }
					 nav.secondarynav ul li li li a, nav.secondarynav ul li li li a:visited{ padding-left: 4.5em; }

			 nav.secondarynav a:hover { background: rgb(77,142,196); color: rgb(255,255,255); }
				
				 nav.secondarynav li.expanded a,  nav.secondarynav li.expanded li a:hover{ color: rgb(255,255,255); }
				 nav.secondarynav li.expanded li.expanded li a:hover { color: rgb(255,255,255); }
				
				 nav.secondarynav li.expanded li a,
				 nav.secondarynav li.expanded li.expanded li a,
				 nav.secondarynav li.expanded li.expanded li.expanded li a,
				 nav.secondarynav li.expanded li.expanded li.expanded li.expanded li a,
				 nav.secondarynav li.expanded li.expanded li.expanded li.expanded li.expanded li a,
				 nav.secondarynav li.expanded li.expanded li.expanded li.expanded li.expanded li.expanded li a
				 {color: rgb(0,73,144);}
				
				 nav.secondarynav li.expanded a,
				 nav.secondarynav li.expanded li.expanded a,
				 nav.secondarynav li.expanded li.expanded li.expanded a,
				 nav.secondarynav li.expanded li.expanded li.expanded li.expanded a,
				 nav.secondarynav li.expanded li.expanded li.expanded li.expanded li.expanded a {color: rgb(0,73,144);}
				
				 nav.secondarynav li.expanded a.active,
				 nav.secondarynav li.expanded li.expanded a.active,
				 nav.secondarynav li.expanded li.expanded li.expanded a.active,
				 nav.secondarynav li.expanded li.expanded li.expanded li.expanded a.active,
				 nav.secondarynav li.expanded li.expanded li.expanded li.expanded li.expanded a.active {color: rgb(255,255,255);}
				
				
	nav.secondarynav #block-relatedlinks-2 {float: left; clear: left; 
	background: rgb(253,253,254); 
		background: transparent;
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#F9F0F0F7,endColorstr=#F9F0F0F7)"; /* IE8 */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F9F0F0F7,endColorstr=#F9F0F0F7);   /* IE6 & 7 */
		  zoom: 1;
	background: rgba(255,255,255,.9);
	margin: 1em 0;}
	
	nav.secondarynav #block-relatedlinks-2 ul, nav.secondarynav #block-relatedlinks-2 ul li  {background: transparent;}
	nav.secondarynav #block-relatedlinks-2 h3 {border-bottom: dotted 1px rgb(77,142,196); display: block; margin:0; padding: .5em 1.5em .25em 1.25em; font-size: 14px; text-transform: uppercase; text-decoration: none; font-weight: 500; font-family: "ff-basic-gothic-web-pro-n5", "ff-basic-gothic-web-pro"; color: rgb(0,73,144);}
	
		.section-division  nav.secondarynav ul li {display: none;}
		.section-division  nav.secondarynav #block-relatedlinks-2 ul li, .section-division  nav.secondarynav #block-relatedlinks-2 ul {display: block;}
		.section-division  nav.secondarynav ul li.expanded {display: block;}
		.section-division  nav.secondarynav ul li.expanded ul li{display: block;}
		.section-division  nav.secondarynav ul {margin-bottom: 1em;}
		.section-division .conferences h2{border-top: solid 1px #D2992A; padding-top: 5px;}
			.section-division .conferences .am, .section-division .conferences .pm {float: left; width: 300px; margin-right: 20px;}
			.section-division .conferences .am h3, .section-division .conferences .pm h3 {margin: 0;}
			.section-division .conferences .pm {padding-left: 20px;}



#maincontent {}
#maincontent .breadcrumb {display: none;}
#maincontent h1 {margin-bottom: 0em;}
#maincontent ul, #maincontent ol, #maincontent dl  {list-style-position: outside; padding: 0; margin: 0 0 1em 3em; display: block;}
#maincontent ul li, #maincontent ol li {margin: 0 0 1em 0em; padding: 0;}

#content-area {display: block;}
#content-area ul{margin-bottom: 1.5em;}

#maincontent .block-sidebar {float: right;}
nav.secondarynav .patientcarefeature { background:url(../img/patientcarefeature.jpg) 0 0 no-repeat; width: 200px; height:280px; overflow: hidden; border: solid 1px rgb(255,255,255); clear: left;}
nav.secondarynav .patientcarefeature a {width: 200px; height: 300px; display: block; padding: 10px; color: rgb(255,255,255);}
 nav.secondarynav .patientcarefeature a:hover { background-color: rgba(255,255,255,.15); }

.ie8 nav.secondarynav .patientcarefeature, .ie7 nav.secondarynav .patientcarefeature { background: url(../img/patientcarefeature.jpg) 0 0 no-repeat; }
.ie8 nav.secondarynav .patientcarefeature a:hover, .ie7 nav.secondarynav .patientcarefeature a:hover { background: none; opacity: 1; }

nav.secondarynav .patientcarefeature h2{ color: #ffffff; font-size: 2em; margin: 0 0 .5em 0;
        text-shadow: 1px 1px 1px #474747;
        filter: dropshadow(color=#474747, offx=1, offy=1);
        }

nav.secondarynav .patientcarefeature p{ color: #ffffff; font-size: 1.25em; margin: 0 0 .5em 0;
        text-shadow: 1px 1px 1px #474747;
        filter: dropshadow(color=#474747, offx=1, offy=1);
        width: 180px;
        }
        
nav.secondarynav .patientcarefeature h3{ color: #ffffff; font-size: .9em; margin: 0 0 .5em 0;
        margin-top: 35px;
        font-weight: 500; font-family: "ff-basic-gothic-web-pro-n5", "ff-basic-gothic-web-pro";
        font-style: italic;
        text-transform: uppercase; 
        } 
        
        nav.secondarynav .patientcarefeature h3 a{ color: #ffffff;
        background: #4d8ec4; padding: 3px 6px; 
        display: block;
                width: 180px;
                border: solid 1px rgb(255,255,255)

        }        
 nav.secondarynav .patientcarefeature h3 a:hover {background: #d2992a;}
#maincontent .makeanappt { background: url("../img/makeanappt.png") no-repeat scroll 0 100% rgb(136,141,149	); width: 299px; margin: 15px 0 20px 20px; padding: 10px; border: solid 1px rgb(255,255,255);}
#maincontent .makeanappt h2{ color: #ffffff; font-size: 2em; margin: 0 0 .5em 0;
        text-shadow: 1px 1px 1px #474747;
        filter: dropshadow(color=#474747, offx=1, offy=1);
        }

#maincontent .makeanappt p{ color: #ffffff; font-size: 1.25em; margin: 0 0 .5em 0;
        text-shadow: 1px 1px 1px #474747;
        filter: dropshadow(color=#474747, offx=1, offy=1);
        width: 180px;
        }
        
        #maincontent .makeanappt p span, #maincontent .makeanappt p span br{display: block;
        margin: .5em 0;
        }
        
#maincontent .makeanappt h3{ color: #ffffff; font-size: .9em; margin: 0 0 .5em 0;
        margin-top: 30px;
        font-weight: 500; font-family: "ff-basic-gothic-web-pro-n5", "ff-basic-gothic-web-pro";
        font-style: italic;
        text-transform: uppercase; 
        } 
        
        #maincontent .makeanappt h3 a{ color: #ffffff;
        background: #4d8ec4; padding: 3px 6px; 
        display: block;
                width: 180px;
                border: solid 1px rgb(255,255,255)

        }        
 #maincontent .makeanappt h3 a:hover {background: #d2992a;}
 
 
 
 #maincontent .mapsanddirectionsfeature { background:url(../img/makeanappt.jpg) 0 -20px no-repeat; width: 300px; height: 75px; min-height: 160px; margin: 15px 0 20px 20px; padding: 10px; border: solid 1px rgb(255,255,255);}
#maincontent .mapsanddirectionsfeature h2{ color: #ffffff; font-size: 2em; margin: 0 0 .5em 0;
        text-shadow: 1px 1px 1px #474747;
        filter: dropshadow(color=#474747, offx=1, offy=1);
        }

#maincontent .mapsanddirectionsfeature p{ color: #ffffff; font-size: 1.25em; margin: 0 0 .5em 0;
        text-shadow: 1px 1px 1px #474747;
        filter: dropshadow(color=#474747, offx=1, offy=1);
        width: 180px;
        }
        
#maincontent .mapsanddirectionsfeature h3{ color: #ffffff; font-size: 1.25em; margin: 0 0 .5em 0;
        margin-top: 10px;
        font-weight: 500; font-family: "ff-basic-gothic-web-pro-n5", "ff-basic-gothic-web-pro";
        font-style: italic;
        text-transform: uppercase; 
        width: 130px;
        } 
        
        #maincontent .mapsanddirectionsfeature h3 a{ color: #ffffff;
        background: #4d8ec4; display: block;
                opacity: .9;
                padding: .25em;
                border: solid 1px #ffffff;

        }        
 #maincontent .mapsanddirectionsfeature h3 a:hover {background: #d2992a;}

#maincontent .profiles {width: 650px;float: left; margin-left: 50px;}
#maincontent .profiles h2 {font-size: 1.5em; font-weight: 600; font-family: "ff-basic-gothic-web-pro-n6", "ff-basic-gothic-web-pro"; margin-top: 0; text-transform: none;}
#maincontent .profiles p {display: inline;}
#maincontent .profiles img {float: left; margin: 1em 20px 30px 0; padding-top: 1.25em; clear: both; max-width: 150px; border: dotted rgb(77,142,196); border-width: 1px 0 0 0;}
#maincontent .profileinfo {float: left; width: 480px; display: block; border: dotted rgb(77,142,196); border-width: 1px 0 0 0; margin: 1em 0 1.5em 0; padding: 1em 0 1.5em 0;}
#maincontent .profileinfo h3:last-child {margin: 0 0 0.5em;}
#maincontent .profileinfo p{display: block;}
#maincontent .profileinfo li{margin-bottom: .5em;}
#maincontent .profiles .accordion h3  {background: rgb(0,73,144); color: #ffffff; display: block; padding: .25em .5em; margin: 0 0 .5em 0; font-size: 1.25em; font-weight: 400; font-family: "ff-basic-gothic-web-pro-n4", "ff-basic-gothic-web-pro";}
#maincontent .profiles .accordion h3 a {color: #ffffff;}
	#maincontent .profiles .accordion h3:hover {background: rgb(77,142,196); color: #ffffff;}
	#maincontent .profiles-trainee .accordion h3:hover {background: rgb(58,118,169); color: #ffffff; display: inline-block;}
#maincontent .profiles .accordion h3.ui-state-active {background: #D2992A; color: rgb(255,255,255);}
#maincontent .profiles ul, #maincontent .profiles dl, #maincontent .profiles ol {}

#maincontent dl {margin: 0 0 2em 0; 
padding: 0; 
font-size: 1.25em; 
letter-spacing: -.1em;
		-moz-column-count: 2;
        -moz-column-gap: 2em;
        -webkit-column-count: 2;
        -webkit-column-gap: 2em;
  width: 690px;
 }





#maincontent dl { margin: 0 0 2em 0; 
padding: 0; 
font-size: 1.25em; 
letter-spacing: -.1em;
		-moz-column-count: 2;
        -moz-column-gap: 2em;
        -webkit-column-count: 2;
        -webkit-column-gap: 2em;
  float: left;
  width: 690px;
}

#maincontent dl dt{margin: 1em 1em 0em 0; padding: 0; 
font-weight: 400; font-family: "ff-basic-gothic-web-pro-n4", "ff-basic-gothic-web-pro";; 
-webkit-column-break-inside:avoid;
-moz-column-break-inside:avoid;
-o-column-break-inside:avoid;
-ms-column-break-inside:avoid;
column-break-inside:avoid;
float: left;
clear: left;
width: 45%;
text-align: right;
}
		
#maincontent dl dd{margin: 1em 1em .5em 0em; 
padding: 0; 
display: block;
float: left;
-webkit-column-break-inside:avoid;
-moz-column-break-inside:avoid;
-o-column-break-inside:avoid;
-ms-column-break-inside:avoid;
column-break-inside:avoid;
width: 45%;

}

.ie7 #maincontent dl dd {float: none;}


article {background: rgb(212,244,244); clear: both;}
	#maincontent hgroup {position: relative;}
	#maincontent hgroup h1 {margin-top: 0;}
	#maincontent hgroup h2 {margin: .5em 0 0 0; font-size: 1em;}
	
	#maincontent .group-contactinfo { display: block; display: none; padding: 0; padding: 25px;  z-index: 10000;  position: absolute; margin-left: 110px; margin-top: -12px; width: 400px;
	background: rgb(255,255,255);
	background: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#F2FFFFFF,endColorstr=#F2FFFFFF)"; /* IE8 */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F2FFFFFF,endColorstr=#F2FFFFFF);   /* IE6 & 7 */
		  zoom: 1;
	background: rgba(255,255,255,.95);  -webkit-box-shadow: 0px 3px 5px 0px rgba(00, 00, 00, .5); box-shadow: 0px 3px 6px 2px rgba(00, 00, 00, .5); }
		.ie7 #maincontent .group-contactinfo {border: solid 1px #ccc;}
		
	#maincontent .group-contactinfo legend {
	display: none;
}

	#maincontent .group-contactinfo .close {
	display: block; 
	position: absolute; 
	top: 5px;
	right: 5px;
	cursor: pointer; 
	background: none repeat scroll 0 0 #811517;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 14px;
    margin: 0;
    padding: 2px 4px;
    text-align: center;
    text-decoration: none;
}

#maincontent .group-contactinfo .close:hover {background: #D2992A;}

#maincontent .group-contactinfo div {display: inline; margin: 0; padding: 0;}
 #maincontent .group-contactinfo div.field-label {
	float: left;
	clear: left;
	width: 120px;
	text-align: right;
	margin: 0 1em 10px 0;
	padding: 0;
		display: block;
}
#maincontent .group-contactinfo div.field-items {
	float: left;
	width: 250px;
	margin: 0 1em 10px 0;
	padding: 0;
		display: block;
}





#maincontent hgroup #infocontact dl {
	font-size: 12px;
}

#maincontent hgroup #infocontact dt {
	float: left;
	clear: left;
	width: 200px;
	text-align: right;
	margin: 0;
	padding: 0;
}

#maincontent hgroup #infocontact dd {
	float: left;
	margin: 0 0 0 20px;
	padding: 0;
	width: 200px;
}

	#togglecontact {background: rgb(129,21,23); color: rgb(255,255,255); font-size: 12px; display: block; display: inline-block; padding: 2px; margin: 0; text-align: center; margin-top: -7px;line-height: 14px; text-decoration: none;}
	#togglecontact:hover {background: #D2992A;}
	 .page-division #togglecontact {display: none;}
	article aside {background: rgb(145,145,232); min-height: 160px;}
aside {background: rgb(145,232,232); min-height: 160px;}

/** Education > Residents > Meet the Residents Yearbook stying **/

.yearbook { clear: right; both display: block; float: left; width: 100%; margin: 0 0 -35px 0; }

ul.meet-residents-yearbook {list-style-type:none !important; clear: right; width: 100%; margin: 10px 10px 10px 0 !important; }

ul.meet-residents-yearbook li { display:inline !important; width: 130px; height: 200px; display: inline; float: left; margin: 10px; text-align: center; }


footer {min-height: 160px; margin-top: 30px;}

footer .sitemap {margin-top: 1em;}
	footer .sitemap ul { float: left; width: 160px;}
		footer .sitemap ul li{list-style: none; margin: 0 0 .25em 0; line-height: 1.15em;}
		footer .sitemap ul li a {display: block; padding: 3px;}
		footer .sitemap ul li a:hover {background: #D2992A; color: rgb(255,255,255);}
		footer .sitemap h2 { font-size: 1em; text-transform: uppercase; font-weight: bold; margin: 0; padding-bottom: .5em; margin-bottom: .5em; border-bottom: dotted 1px rgb(77,142,196);}
		a.mschony {display: block; background: url(../img/mschonylogo.png) 0 0px no-repeat; width: 245px; height: 45px; float: left; margin: 20px;}
		a.nyp {display: block; background: url(../img/logonyp.png) 0 0px no-repeat; width: 263px; height: 30px; float: left; margin: 20px; }
		footer p.copyright {clear: left; margin: 20px; float: left;}
		
footer #block-menu-secondary-links {margin-top: -40px;}
footer #block-menu-secondary-links h3 {display: none;}
	footer #block-menu-secondary-links ul{float: right; margin: 0 20px 20px 0;}
		footer #block-menu-secondary-links ul li{list-style: none; display: inline; margin: 0; padding: 0;}
			footer #block-menu-secondary-links ul li a{color: rgb(129,21,23); padding: 3px;}
			footer #block-menu-secondary-links ul li a:hover {background: rgb(129,21,23); color: rgb(255,255,255)}

		
		

/* ==|== HomePage Styles ======================================================

   ========================================================================== */
   
   .homepage #maincontent {padding: 0;}
   
	.views_slideshow_singleframe_main_slideshows-block_1 {min-height: 0px; height: 348px;  width: 936px; margin: 0 0 20px 0; padding: 40px 10px 10px 10px; font-size: 1em; line-height: 1.5em; background: rgb(255,255,255); background: rgba(255,255,255,.7); -webkit-box-shadow: 0px 3px 5px 0px rgba(00, 00, 00, .5); box-shadow: 0px 3px 6px 2px rgba(00, 00, 00, .5); }	
		.views-field-field-banner-image-fid, .views-field-title, .views-field-field-blurb-value {width: 450px; float: left; margin-right: 20px;}
		.views-field-field-banner-image-fid {float: right; margin: 0; position: absolute;
left: 485px;}
		.slidecopy {width:444px; float:left;}
		.cat{text-transform: uppercase; border-top: dotted 1px rgb(77,142,196); margin: 0; padding: 5px 0; font-size: 1em;}
		.slidetitle {margin: 0 0 .5em 0; font-size: 2em; color: #D2992A; line-height: 1em;}
		.slidecopy a {padding: 3px 5px; background: rgb(129,21,23); color: rgb(255,255,255); text-transform: uppercase;}
		.slidecopy a:hover {background: #d2992a;}



	 /*	.homepage #maincontent img.hpslide {float: right;} */
		
		.homepage .prev{float: left; position: relative; top: -30px; z-index: 1000;}
		.homepage .next{float: left; position: relative; top: -30px; z-index: 1000;}
		#views_slideshow_singleframe_pager_slideshows-block_1 {float: left; width: 400px; margin: 0; padding: 0; position: relative; top: 60px; z-index: 1000;}
		#views_slideshow_singleframe_pager_slideshows-block_1 div {float: left; margin: 0; padding: 0; list-style: none;}
		#views_slideshow_singleframe_pager_slideshows-block_1  a {float: left; list-style: none; padding: 0 5px; color: rgb(129,21,23); }
		#views_slideshow_singleframe_pager_slideshows-block_1 div.activeSlide a { background: rgb(129,21,23); color: rgb(255,255,255); }
		#views_slideshow_singleframe_pager_slideshows-block_1 div a:hover { background: #D2992A; color: rgb(255,255,255); }

		
		
		#block-views-slideshows-block_1 {min-height: 0px; height: 348px;  width: 936px; margin: 0 0 20px 0; padding: 40px 10px 10px 10px; font-size: 1em; line-height: 1.5em; background: rgb(255,255,255); background: rgba(255,255,255,.7); -webkit-box-shadow: 0px 3px 5px 0px rgba(00, 00, 00, .5); box-shadow: 0px 3px 6px 2px rgba(00, 00, 00, .5); }
		
		
		.homepage .midpage {float: left;}
		.homepage .featureboxes {float: left; min-height: 410px;width: 244px; margin: 0; padding: 10px; font-size: 1em; line-height: 1.5em; background: rgb(255,255,255); background: rgba(255,255,255,.7); -webkit-box-shadow: 0px 3px 5px 0px rgba(00, 00, 00, .5); box-shadow: 0px 3px 6px 2px rgba(00, 00, 00, .5); }
		.homepage .featureboxes h3 {text-transform: uppercase; border-top: dotted 1px rgb(77,142,196); margin: 0; padding: 5px 0; font-size: 1em;}
			.homepage .featureboxes h3 a {display: block; padding: 3px;}
			.homepage .featureboxes h3 a:hover {background: rgb(129,21,23);color: #ffffff; display: block;}
		.homepage .featureboxes h2 {margin: 0 0 .5em 0; font-size: 1.75em; color: #D2992A;}
		.homepage .featureboxes .video {width: 244px; height: 166px;}
		.homepage .featureboxes.residency {margin-right: 10px;}
		.homepage .featureboxes.globalhealth {margin-right: 10px;}
		.homepage .featureboxes.newsandevents {width: 390px;}
		.homepage .featureboxes.newsandevents a {text-decoration: none;}
		.homepage .newsandevents img {width: 112px; float: left; margin: 5px 0 5px 5px;}
		.homepage .newsandevents a:hover img {border: solid 5px rgb(129,21,23); margin: 0;}
		.homepage .newsandevents a p {margin-left: 121px; padding-left: 5px;}
		.homepage .newsandevents a:hover p {background: rgb(129,21,23);color: #ffffff;}
.homepage .newsandevents .views-row  {margin-bottom: 1em;}
.homepage .newsandevents p {margin: 0;}
 
    /* ==|== About Us Pages styles ======================================================
   ========================================================================== */
   
   
     /* ==|== News and Events styles ======================================================
   ========================================================================== */
#maincontent ul.eventlistings{list-style: none; padding: 0; margin: 0 0 2em 0;}
 #maincontent ul.eventlistings li{ margin: 0 0 2em 0; padding: 0;}
 #maincontent ul.eventlistings li .date{margin-right: 1em; display: inline-block;}
 #maincontent ul.eventlistings li .time{font-style: italic;}
 #maincontent ul.eventlistings li .location{}
 #maincontent ul.eventlistings li h3{ margin: 0 0 .75em 0;}
 #maincontent ul.eventlistings li p{}




    /* ==|== Divisions main page styles ======================================================
   ========================================================================== */
.page-division #maincontent {float: left; margin-left: 0; padding-left: 20px;}
.ie7 .page-division #maincontent, .ie8 .page-division #maincontent {border: solid 1px #ccc;}

.page-division {}
	.page-division .divisionslist{float: left; width: 360px; margin-left: 20px;}
	.ie7 .page-division .divisionslist, .ie8 .page-division .divisionslist {width: 359px;}
.page-division img {margin-bottom: 1em;}
	.page-division .divisionslist ul ul{display: none;}
	.page-division .divisionslist ul li {list-style: none; font-size: 1.25em; line-height: 1.5em;}
	
.page-division #maincontent hgroup {
    margin-left: 0px;
    position: relative;
}

.page-division #maincontent #content-area {padding-left: 0;}

.page-division #maincontent #content-area ul {
    margin-left: 0em; padding: 0; margin-top: 0;
}	

.page-division #maincontent #content-area ul li {
    margin: 0 0 .5em 0; padding: 0;
    display: inline;
}	


#block-menu-menu-divisions ul.menu li a {display: block; padding: 3px 5px;}
#block-menu-menu-divisions ul.menu li a:hover {background: #004990; color: #ffffff;}

div#node-126 {float: left; width: 539px;}


.conferences {float: left;}
.conferences h2{clear: left;}
.conferences div{float: left; width: 100%;}
.conferences .am, .conferences .pm{float: left: width: 40%; padding: 0;}
.conferences .am {margin-right: 10%}

    /* ==|== Education and Training Fellowships main page styles ======================================================
   ========================================================================== */

#maincontent { /*min-height: 660px;*/ }

.page-education-training-fellowship	 #maincontent #content-area ul {
    margin-left: 0em; padding: 0; margin-top: .5em; list-style: none; float: left; margin-right: 20px;
}	

.page-education-training-fellowship #maincontent #content-area ul li {
    margin: 0 0 .5em 0;; padding: 0;
}	

.page-education-training-fellowship	 #maincontent #content-area ul li a {display: block; padding: 3px 5px;}
.page-education-training-fellowship	 #maincontent #content-area ul li a:hover {background: #004990; color: #ffffff;}


/*.page-division-allergy-immunology nav.secondarynav ul li.allergy_and_immunology, .page-division-allergy-immunology nav.secondarynav ul li.allergy_and_immunology li, 
.page-division-biomathematics nav.secondarynav ul li.biomathematics, .page-division-biomathematics nav.secondarynav ul li.biomathematics li,
.page-division-blood-and-marrow-transplantation nav.secondarynav ul li.blood_and_marrow_transplantation, .page-division-blood-and-marrow-transplantation nav.secondarynav ul li.blood_and_marrow_transplantation li,
.page-division-cardiology nav.secondarynav ul li.cardiology, .page-division-cardiology nav.secondarynav ul li.cardiology li,
.page-division-child-and-adolescent-health nav.secondarynav ul li.child_and_adolescent_health, .page-division-child-and-adolescent-health nav.secondarynav ul li.child_and_adolescent_health li,
.page-division-clinical-genetics nav.secondarynav ul li.clinical_genetics, .page-division-clinical-genetics nav.secondarynav ul li.clinical_genetics li,
.page-division-critical-care-medicine nav.secondarynav ul li.critical_care_medicine, .page-division-critical-care-medicine nav.secondarynav ul li.critical_care_medicine li,
.page-division-emergency-medicine nav.secondarynav ul li.emergency_medicine, .page-division-emergency-medicine nav.secondarynav ul li.emergency_medicine li,
.page-division-endocrinology nav.secondarynav ul li.endocrinology, .page-division-endocrinology nav.secondarynav ul li.endocrinology li,
.page-division-gastroenterology-hepatology-nutrition nav.secondarynav ul li.gastroenterology-_hepatology_and_nutrition, .page-division-gastroenterology-hepatology-nutrition nav.secondarynav ul li.gastroenterology-_hepatology_and_nutrition li,
.page-division-hematology nav.secondarynav ul li.hematology, .page-division-hematology nav.secondarynav ul li.hematology li,
.page-division-hematology-oncology-stemcelltransplantation nav.secondarynav ul li.hematology-_oncology-_and_stem_cell_transplantation, .page-division-hematology-oncology-stemcelltransplantation nav.secondarynav ul li.hematology-_oncology-_and_stem_cell_transplantation li,
.page-division-infectious-disease nav.secondarynav ul li.infectious_disease, .page-division-infectious-disease nav.secondarynav ul li.infectious_disease li,
.page-division-molecular-genetics nav.secondarynav ul li.molecular_genetics, .page-division-molecular-genetics nav.secondarynav ul li.molec ular_genetics li,
.page-division-neonatology-perinatology nav.secondarynav ul li.neonatology-perinatology, .page-division-neonatology-perinatology nav.secondarynav ul li.neonatology-perinatology li,
.page-division-nephrology nav.secondarynav ul li.nephrology, .page-division-nephrology nav.secondarynav ul li.nephrology li,
.page-division-neurology nav.secondarynav ul li.neurology, .page-division-neurology nav.secondarynav ul li.neurology li,
.page-division-oncology nav.secondarynav ul li.oncology, .page-division-oncology nav.secondarynav ul li.oncology li,
.page-division-pulmonology nav.secondarynav ul li.pulmonology, .page-division-pulmonology nav.secondarynav ul li.pulmonology li,
.page-division-rheumatology nav.secondarynav ul li.rheumatology, .page-division-rheumatology nav.secondarynav ul li.rheumatology li
{display: block;} */

li.expanded, li.leaf {
    list-style-image: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

   /* ==|== Patient Care main page styles ======================================================
   ========================================================================== */


.page-patient-care #maincontent{margin: 0; width: 920px; padding-left: 20px;}
.ie8 .page-patient-care #maincontent{width: 920px;}
	.page-patient-care #maincontent hgroup {margin-left: 0px;}

.page-patient-care #maincontent ul.pcnav{list-style: none; border: solid 1px #cbcbcb; padding: 10px; margin: 0 0 2em 0; float: left; width: 900px; background: 
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMmQ2NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iIzAzNDk5MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  rgb(0,45,100) 0%, rgb(3,73,144) 47%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(0,45,100)), color-stop(47%,rgb(3,73,144))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgb(0,45,100) 0%,rgb(3,73,144) 47%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgb(0,45,100) 0%,rgb(3,73,144) 47%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgb(0,45,100) 0%,rgb(3,73,144) 47%); /* IE10+ */
background: linear-gradient(top,  rgb(0,45,100) 0%,rgb(3,73,144) 47%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002d64', endColorstr='#034990',GradientType=0 ); /* IE6-8 */

}
	.page-patient-care #maincontent ul.pcnav li{float: left; color: #ffffff; margin: 0; padding: 0;}
	.page-patient-care #maincontent ul.pcnav li a{display: block; padding: 5px 10px; border: solid 1px #ffffff; color: #ffffff; text-transform: uppercase;}
	.page-patient-care #maincontent ul.pcnav li.active a {background: #4D8EC4;-webkit-box-shadow: 0px 0px 2px 2px #ffffff; box-shadow: 0px 0px 2px 2px #ffffff; }
	.page-patient-care #maincontent ul.pcnav li a:hover {background: #D2992A; cursor: pointer;}
	.page-patient-care #maincontent #search {display: none; padding: 5px 10px; margin: 0; margin-left: 20px; font-size: 1.25em;}

.page-patient-care #maincontent ul.pclisting {font-size: 1.25em; text-transform: capitalize; float: left; margin: 0 0 0 10px; width: 210px; padding: 0; list-style: none;}

.page-patient-care #maincontent section {width: 100%;}
.page-patient-care #maincontent a.pcdivisions {float: left; width: 252px; margin: 10px; }
.page-patient-care #maincontent a.pcdivisions.clear {clear: left; }
.page-patient-care #maincontent a.pcdivisions ul {width: 100%; height: 29em; list-style: none; padding: 0px; display: block; margin: 0; padding: 0;}
	.page-patient-care #maincontent a.pcdivisions ul:hover {/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjk5Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjcxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcyJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.99) 1%, rgba(255,255,255,0.01) 71%, rgba(255,255,255,0) 72%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(1%,rgba(255,255,255,0.99)), color-stop(71%,rgba(255,255,255,0.01)), color-stop(72%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.01) 71%,rgba(255,255,255,0) 72%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.01) 71%,rgba(255,255,255,0) 72%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.01) 71%,rgba(255,255,255,0) 72%); /* IE10+ */
background: radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.01) 71%,rgba(255,255,255,0) 72%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */}
	.page-patient-care #maincontent a.pcdivisions ul li{padding: 0 2em 0 2em; margin: .5em 0;}
	 .page-patient-care #maincontent a.pcdivisions:hover {cursor: pointer;}
		.page-patient-care #maincontent a.pcdivisions:hover li {text-shadow: 0px 0px 10px #ffffff; /* filter: dropshadow(color=#ffffff, offx=0, offy=0); */}
		.page-patient-care #maincontent a.pcdivisions ul li.heading { min-height: 2em; font-size: 1.5em; line-height: 1em; padding: 0 5px 5px 5px; -webkit-box-shadow: 0px 4px 4px -4px rgba(00, 00, 00, .5); box-shadow: 0px 4px 4px -4px rgba(00, 00, 00, .5); }
			.page-patient-care #maincontent a.pcdivisions:hover ul li.heading {text-shadow: 0px 0px 4px #ffffff; -webkit-box-shadow: 0px 4px 4px -4px rgba(00, 00, 00, .5); box-shadow: 0px 4px 4px -4px rgba(00, 00, 00, .5); }
			.page-patient-care #maincontent a.pcdivisions ul li span.divname {display: inline-block; text-transform: uppercase; font-size: .75em; font-weight: bold; }


   /* ==|== Research main page styles ======================================================
   ========================================================================== */
.page-research #maincontent {float: left; width: 920px; margin-left: 0; padding-left: 20px; margin-bottom: 20px;}


#maincontent .researchlinks ul {display: block; float: left; width: 205px; list-style: none; font-size: 1.25em; margin: 0 1em 1em 1em;padding: 0;}
#maincontent .researchlinks ul li {margin: 0 2em 1em 0;padding: 0; }
.page-research .secondarynav {display: none;}

 /* ==|== Odds And Ends Styles ======================================================
   ========================================================================== */
#maincontent .afterresidencybyyear {float: left;}
#maincontent .afterresidencybyyear ul{list-style: none; width: 300px; float: left; margin: 0 40px 20px 0; padding: 0;}
#maincontent .afterresidencybyyear ul li{margin: 0 0 1.5em 0; padding: 0;}
#maincontent .afterresidencybyyear ul li h3{}



/* ==|== Slides.JS styles ======================================================

   ========================================================================== */   

.slides_container {
width:470px;
display:none;
}

/*
Each slide
Important:
Set the width of your slides
If height not specified height will be set by the slide content
Set to display block
*/
.slides_container div {
width:470px;
height:390px;
display:block;}




.homepage .slides_container {
width:936px;
display:none;
}

/*
Each slide
Important:
Set the width of your slides
If height not specified height will be set by the slide content
Set to display block
*/
.homepage .slides_container div {
width:936px;
height:340px;
display:block;}


/*Collapse Menu Nav items that are not in use */

/* li.collapsed { display: none !important } */


/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }


/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== 

@media only screen and (min-width: 0em) {
  body {background: red;}
	header {width:100%;}
	nav.primarynav {width: 100%}
		nav.primarynav ul {width: 100%;}
			nav.primarynav li {width: 100%;}
				nav.primarynav li a {width: 100%;}

	article {}
			article aside {float: right; vertical-align: 100%; width: 50%; margin: 0 0 1em 1em;}
	aside {float: left; width: 100%;}
	footer {clear: both;}

}*/

  

/* @media only screen and (min-width: 100em) {
  body {}
    	.wrappermain {width: 1200px; margin: auto;}
    		#maincontent {width: 1074px; }
			.wrapperfooter {width: 1195px;}
				footer {margin-left: 85px;}

	header {}
	nav {}
	#maincontent hgroup {}
	article {
	}
	aside {}
	footer {}
}
 */


/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

.nocolumns {
	-moz-column-count: 1!important;
		-moz-column-gap: 0em!important;
		-webkit-column-count: 1!important;
		-webkit-column-gap: 0em!important;
		column-count: 1!important;
		column-gap: 0em!important;}

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* Floats left and right */

.left {float: left!important; margin: 0 10px 20px 0; clear: left;}
.right {float: right!important; margin: 0 0px 20px 10px; clear: right;}


/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}


/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

.primarynav active-trail active, .primarynav .active-trail active, .primarynav .active-trail .active, .primarynav .active { background: #4D8EC4; color: #fff; }
.views-field-title {
float: none;
font-weight: bold;
font-size: 14px;
width:700px;
}


