@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

/*ol, ul {list-style: none;}*/
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none;}

/* remember to define focus styles! */
:focus {outline: 0;}

/* remember to highlight inserts somehow! */
ins {text-decoration: none;}
del {text-decoration: line-through;}

/* tables still need 'cellspacing="0"' in the markup */
table {border-collapse: collapse; border-spacing: 0; font-size:1em;}

/* clear and clearfix */
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.clearfix:before,.clearfix:after{content:'\0020';display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.clearfix:after{clear:both}.clearfix{zoom:1}


h1, h2, h3 { color:#003366; letter-spacing:0.035em;}
h4, h5, h6 { color:#000; letter-spacing:0.035em;}
hr { border: 0; color: #d9d8d8; background-color: #d9d8d8; height: 1px; width:100%; margin-bottom:1em; }

/*h2 {font-size:28px; font-weight:100; padding-bottom:10px;}
h3 {font-size:16px;}
h4 {line-height:1.35em; font-size:14px; font-weight:100;}
h5 {line-height:1.35em; font-size:13px;}
h6 {line-height:1.2em; font-size:12px;}
ul li{font-size:1em; line-height:1.45em; list-style:disc; margin-left:22px; }
ol li{font-size:1em; line-height:1.45em; list-style:decimal;margin-left:22px;}*/

a:link, a:visited, a:active { color: #369; text-decoration:none; }
a:hover {text-decoration: underline; }
body {background-color:#003366; line-height: 1.125em; padding-bottom: 20px; font-family: "Myriad", Arial, Helvetica, sans-serif; color: #403c3c;}
p {margin:0 0 1em 0;}

caption,th,td {font-weight:normal; text-align:left;}
th,td {padding:0.25em 0.25em 0.25em 0.5em;}

.clearBoth { clear: both; }
.clearLeft { clear: left;}
.clearRight { clear: right;}
.left { float:left;}
.right { float:right;}

/* Image Wrapper */

.pad-left { padding:3px 0px 3px 8px;}
.pad-right { padding: 3px 8px 3px 0px;}

.block ul {margin:0;padding:0;}

.node ul { padding:0; margin: 0 0 0 20px;}
.node ul li{ font-size:12px; line-height:1.45em; list-style: disc;}


/*.view-content .item-list ul li { padding:0; margin:0; list-style:none;}
*/


/* Primary Links Navigation */
#block-menu-primary-links ul{ padding: 0; margin:0; width: 943px; height: 36px; background: url(../images/nav_bg.gif) repeat-x; }
#block-menu-primary-links ul.menu li{display: inline; padding:0; margin:0; }
#block-menu-primary-links ul.menu li a{ display:block; text-indent: -999em; outline: none}
#block-menu-primary-links ul.menu li a:hover {  display:block; padding:0; margin:0;/*text-decoration:none;*/ }

#block-menu-primary-links ul.menu li.what-we-do a{ width:105px; height:36px; background:url(../images/nav_whatwedo.png) no-repeat; float:left; }
#block-menu-primary-links ul.menu li.what-we-do a:hover{width:105px; height:36px; background:url(../images/nav_whatwedo_over.png) no-repeat; float:left; }

#block-menu-primary-links ul.menu li.facilities a{ width:81px; height:36px; background:url(../images/nav_facilities.png) no-repeat; float:left; }
#block-menu-primary-links ul.menu li.facilities a:hover{ width:81px; height:36px; background:url(../images/nav_facilities_over.png) no-repeat; float:left; }

#block-menu-primary-links ul.menu li.research a{ width:82px; height:36px; background:url(../images/nav_research.png) no-repeat; float:left; }
#block-menu-primary-links ul.menu li.research a:hover{ width:82px; height:36px; background:url(../images/nav_research_over.png) no-repeat; float:left; }

#block-menu-primary-links ul.menu li.education-training a{width:169px; height:36px; background:url(../images/nav_education.png) no-repeat; float:left; }
#block-menu-primary-links ul.menu li.education-training a:hover{ width:169px; height:36px; background:url(../images/nav_education_over.png) no-repeat; float:left; }

#block-menu-primary-links ul.menu li.events a{ width:66px; height:36px; background:url(../images/nav_events.png) no-repeat; float:left; }
#block-menu-primary-links ul.menu li.events a:hover{ width:66px; height:36px; background:url(../images/nav_events_over.png) no-repeat; float:left; }

#block-menu-primary-links ul.menu li.media-center a{ width:111px; height:36px; background:url(../images/nav_media.png) no-repeat; float:left; }
#block-menu-primary-links ul.menu li.media-center a:hover{ width:111px; height:36px; background:url(../images/nav_media_over.png) no-repeat; float:left; }

#block-menu-primary-links ul.menu li.about-us a{width:85px; height:36px; background:url(../images/nav_about.png) no-repeat; float:left; }
#block-menu-primary-links ul.menu li.about-us a:hover{ width:85px; height:36px; background:url(../images/nav_about_over.png) no-repeat; float:left; }

#block-menu-primary-links ul.menu li.last a{width:158px; height:36px; background:url(../images/nav_help.png) no-repeat;  float:right;  }
#block-menu-primary-links ul.menu li.last a:hover{ width:158px; height:36px; background:url(../images/nav_help_over.png) no-repeat; float:right;}


/* Header Section */

#header { margin:10px 0 5px 0; position:relative;}
#logo-title { margin:0 0 0 -67px; float:left;}
#logo-title .branding { width:653px; height:47px;  background:url(../images/logo_crr.png) no-repeat; margin:12px 0 0 67px;}
#logo-title .branding h2 a {width:653px; height:47px;   display:block; text-indent:-999em; }

/*ul.menu { padding:0; margin:0;}
ul.menu li { padding:0; margin:0;}
ul.menu li.leaf { padding:0; margin:0;}*/

/* Top Navigation Section */

#secondary {color:#FFF; text-align:right; margin-top:-15px; position:relative;}
#secondary ul li{ padding:0 4px; margin:0; display:inline; line-height:1.25em; font-size:11px; letter-spacing:0.06em;}
#secondary ul li a { color:#FFF; }
#secondary ul li a:hover{text-decoration:none;color:#D8D8D8;}

/* Utility Navigation */
#utility-block  { float:right; margin-top:9px;}
#block-cumc_blocks-cumc_utility_links {}
#block-cumc_blocks-cumc_utility_links ul { }
#block-cumc_blocks-cumc_utility_links ul li{display:inline; font-size:11px; padding:0 0.5em;}
#block-cumc_blocks-cumc_utility_links ul li a{color:#FFF;}

/* Search Section */

#search-wrapper { float:right; margin-top:5px; }
#cumc-search-form .form-submit {left: -60px;position: absolute;top: 1px; height:24px;}
#cumc-search-form .form-text {border: medium none; color: #003366; font-size: 12px; height: 14px;letter-spacing: 0.035em; margin: 4px 0 0 28px; padding: 2px 0; width: 128px;}

/* Content Section */

#page { width:943px; margin: 0 auto;}
#front-container {float:none;/* background:url(../images/content_top.png) no-repeat scroll 0 0 transparent;padding:4px 0 0;*/ }
#front-container #content-wrapper { background:url(../images/content_body.png) repeat-y scroll 0 0 transparent; padding:0; position:relative; width:auto;}
#front-container #content-wrapper > .clear {/*background:url(../images/content_end.png) no-repeat scroll 0 0 transparent;height:4px;margin-top:25px;visibility:visible;width:100%;*/ display:none; }

#container {float:none; background:url(../images/content_top.png) no-repeat; padding:4px 0 0 0; }

#content-wrapper { background:url(../images/content_body.png) repeat-y scroll 0 0 transparent; padding:20px 0 0 0; position:relative; width:auto; }
#content-wrapper > .clear {background:url(../images/content_end.png) no-repeat scroll 0 0 transparent;height:4px;margin-top:25px;visibility:visible;width:100%;}

#content-wrapper h1 {margin:25px 30px 25px 0px; font-size:25px; font-weight:100; }
#content-wrapper h1.headline { margin:25px 0px 20px 0px; font-size:25px; font-weight:100; color:#000; font-family:'Myriad Pro', Arial, Helvetica, sans-serif; line-height:1.075em; }
#content-wrapper #main {margin:-5px 20px 0 275px; background-color:#FFF; padding:0 16px; min-height:350px;}
#content-wrapper .node {}
#content-wrapper .node p { font-size:0.78em; line-height:1.45em; letter-spacing:0.035em; padding-bottom:10px; margin:0;}
#content-wrapper .node  h3 { font-size:1.0em; font-weight:normal; margin:0.5em 0; font-family:'Myriad Pro', Arial, Helvetica, sans-serif;}
#content-wrapper #main .recent-news { margin-left:0px;}
#content-wrapper #main .recent-news .item-list ul {}
#content-wrapper #main .recent-news .item-list ul li { list-style:none;  padding:0; margin:0;}
#content-wrapper #main .recent-news .item-list ul li .views-field-title {}
#content-wrapper #main .recent-news .item-list ul li .views-field-field-date-value { font-weight:normal;}
.content .item-list ul {}
.content .item-list ul li{ list-style:none;  padding:0; margin:0;}

/* Front Slide View */
#front-rotator {width:672px; height:342px;  float:left; margin:0px; }
#block-views-slideshows-block_1 {}
#block-views-slideshows-block_1 .views-field-field-banner-image-fid img{z-index:5; padding:0; margin:0;}
#block-views-slideshows-block_1 .view-content .views-field-title { display:none; /*z-index:100; color:#FFF; text-align:center;*/}

/* Section Navigation */
#left-section-block { float:left; margin:0px 0 0 10px; padding:10px 10px 30px 10px; width:235px; }
#left-section-block h2 { color:#000; font-family:"Times New Roman", Times, serif; font-size:1.75em; font-weight:100; padding-bottom:0.5em; line-height:1.125em;}
#left-section-block ul.menu{  margin:10px 15px 10px 5px;}
#left-section-block ul.menu li{list-style:none; line-height:1em; font-size:12px; padding-bottom:1.25em; font-weight:normal; font-family: Arial, Helvetica, sans-serif; letter-spacing:0.035em;}
#left-section-block ul.menu li a{ color:#333;}

/* Tier Banner Lists */
#tier-container {margin:15px 0px 0px 0px; padding:7px 0px 0px 7px; background:url(../images/bottom_tier_1.png) no-repeat;}
#tier-container ul { }
#tier-container ul li{ list-style:none; display:inline; float:left; padding:0 0px 0 8px; margin:0;}
#tier-container ul li.calendar { display:block; padding:120px 0 0 15px; margin:0px; color:#036; font-size:23px; font-weight:bold; width:269px;}

#tier-front-container {margin:15px 0px 0px 0px; padding:7px 0px 0px 7px; background:url(../images/bottom_tier.png) no-repeat;}
#tier-front-container ul { }
#tier-front-container ul li{ list-style:none; display:inline; float:left; padding:0 5px 0 0; margin:0;}
#tier-front-container ul li.calendar { display:block; padding:110px 0 0 15px; margin:0 0 0 8px; color:#036; font-size:23px; font-weight:bold;}


/* News Headline */
#front-news { width:271px;  margin:0px 0 0 672px; }
#front-news h2.title { background: url(../images/news_title_bg.gif) no-repeat; height:28px; color:#FFF; font-weight:100; font-size:22px; padding:18px 10px 0px 15px; letter-spacing:0.035em; margin-left:1px;}
.front-news-list .item-list ul{ padding:10px 15px 10px 15px;}
.front-news-list .item-list ul li a{ list-style:disc !important; font-size:11px; font-weight:normal; line-height:2.5em; color:#555;}


.news-headline {margin:25px 30px 25px 285px; border-bottom:1px solid #e1e1e1; padding-bottom:20px;}
.recent-news {margin:25px 0px 0 285px;}
.news-headline .views-field-title {font-size:16px; line-height:1.125em; padding-bottom:2px; font-weight:bold;}

.view-header { font-family:Arial, Helvetica, sans-serif; font-size:25px; padding-bottom:20px;}
.views-field-title {font-size:13px; line-height:1.125em; padding-bottom:2px; font-weight:bold;}
.views-field-field-subtitle-value {color:#05649C; font-size:12px; font-weight:100;}
.views-field-field-date-value {font-size:11px; font-weight:bold;}
.views-field-field-news-blurb-value {font-size:12px; line-height:1.45em; letter-spacing:0.035em; padding-bottom:10px; width:100%;}
.views-field-view-node { text-align:right; font-size:11px;}
.views-field-field-thumbnails-fid { float:left; width:80px; height:80px; margin-right:10px;}

.field-field-date {font-size:11px; font-weight:bold;}
.field-field-subtitle {color:#05649C; font-size:16px; }





/*#search-wrapper {float:right; width:212px;  }
div.search-box {margin: 0px; padding:0px; width:212px; background-image: url(../images/search.png); background-repeat: no-repeat; position:relative; height:26px;}
div.search-box input.form-submit {border:none; top:0px; left:0px; position:absolute;}
div.search-box input.form-text {font-size: 0.7em; color: #336699; border:none; position:absolute; top:3px; width:125px; left:73px; letter-spacing:0.07em;}
div.search-box span.txt_search { font-size:10px; color:#FFF; padding-top:10px;}
*/
/*  Find People Search Panel section  */

/*.search_wrap {border:1px solid #cccccc; margin:5px 0 10px 0; padding:0; width:240px;}
.search_wrap h2 {background-color:#e5e5e5!important; padding:5px 8px 5px 8px!important; margin:0!important; font-size:0.85em !important; color:#666!important; font-weight:bold!important;}
.search_innards {padding:5px 8px 8px 8px; }
.search_innards label {font-size:0.85em; padding-bottom:10px; line-height:1.0em;}
.search_innards input.searchbx  { padding:3px 0 3px 0; margin-top:10px; margin-bottom:10px;}
.search_innards .smtxtPad {font-size:0.85em; padding-right:20px;}
.searchBtn {background-color:#e5e5e5; font-size:11px;}
.adm_box { width:330px; }
.adm_box h3.subtitle { font-size:0.85em;}
.adm_box ul.adm_list li{ font-size:0.75em;}

.tpad5 {padding-top:5px;}
.button {padding:0;margin:5px 0 0 0;}

.searchline2 {margin-right: 14px; text-align: right;}*/

/* Footer General Information */

#block-cumc_blocks-cumc_general_info { text-align:right; margin-top:10px;}
#block-cumc_blocks-cumc_general_info ul{}
#block-cumc_blocks-cumc_general_info ul li{ color:#FFF; display:inline; font-size:0.67em; letter-spacing:0.035em; padding: 0 0.5em;}
#block-cumc_blocks-cumc_general_info ul li a{ color:#FFF;}

/*#footer-content-wrapper { }
#footer-content-wrapper ul { float:left; display:block; padding-right:20px; width:158px;}
#footer-content-wrapper ul li {font-size: 0.68em; color:#d8d8d8; line-height:1.25em; list-style:none; letter-spacing:0.02em; }
#footer-content-wrapper ul li a{color:#d8d8d8; }
#footer-content-wrapper ul li a:hover {color:#fff; }
#footer-content-wrapper ul li h2 {font-weight:bold; line-height: 2em; font-size: 12px; color:#d8d8d8;}*/

#footer-content-wrapper ul.general_info {  text-align:right; margin-top:3px;}
#footer-content-wrapper ul.general_info li{ display:inline; padding:0px 4px; }
#footer-content-wrapper ul.affiliated { text-align:left;}
#footer-content-wrapper ul.affiliated li{ display:inline; padding:0px; }

.node table { border:1px solid #e1e1e1; margin:10px 0;}
.node table th{ padding:6px 8px; background-color:#F9F9F9; border:1px solid #e1e1e1;}
.node table td{ padding:6px 8px; border:1px solid #e1e1e1; line-height:1.45em; letter-spacing:0.035em; font-size:0.78em;}
.node table td ul { margin-left:-10px;}
.node table td li {font-size:0.9em;} 




