/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ==|== primary styles =====================================================
   Author: Noah Miller (2012)
   ========================================================================== */

body {padding-top: 10px; color: rgb(58,58,58); font-family: "Franklin Gothic Book", sans-serif; font-size: 12px; line-height: 1.5em;}

h1 {color: rgb(210,153,42); font-weight: normal; text-transform: uppercase; font-family: "Franklin Gothic Book"; font-size: 2.5em; line-height: 1em;}
h1.pnslogo {background: url(../img/pnslogoblue.png) 0 10px no-repeat; width: 200px; height: 71px; padding: 10px 0px 0 0 ; border-right: solid 1px  #004990; margin-bottom: 10px;  }
h2.orgname {font-family: "Franklin Gothic Book", sans-serif; font-size: 36px; background: none; font-weight: normal; color: rgb(00,73,144); margin: 30px 0 0 10px;}


header.pageheader {background: rgb(255,141,141); display: block;}
	header hgroup {float: left; padding: 0px; margin: 0;}
		header hgroup h1{float: left; background: yellow; margin: 0;}
		header hgroup h2{float: left; background: orange; margin: 0;}
	
.skip	{visibility: hidden;}

nav.metanav { background: rgb(0,73,144); font-size: .75em; margin: 0 auto; width: 100%; padding: 5px 0;  }
	nav.metanav ul {display: block; margin: 0 auto; width: 960px; text-align: center; }
	nav.metana #cumc-search-form {float: left;}
		nav.metanav ul li {display: inline;}
			nav.metanav ul li a, nav.metanav ul li a:visited{ color: #ffffff; padding: .5em 1.5em; text-decoration: none;}
			nav.metanav ul li a:hover{background: rgb(77,142,196); color: rgb(255,255,255);}

nav.primarynav { background: rgb(0,45,100); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMmQ2NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iIzAzNDk5MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  rgb(0,45,100) 0%, rgb(3,73,144) 47%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(0,45,100)), color-stop(47%,rgb(3,73,144))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgb(0,45,100) 0%,rgb(3,73,144) 47%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgb(0,45,100) 0%,rgb(3,73,144) 47%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgb(0,45,100) 0%,rgb(3,73,144) 47%); /* IE10+ */
background: linear-gradient(top,  rgb(0,45,100) 0%,rgb(3,73,144) 47%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002d64', endColorstr='#034990',GradientType=0 ); /* IE6-8 */
; font-size: 1em; margin: 0 auto; width: 100%; float: left; -webkit-box-shadow: 0px 3px 5px 0px rgba(00, 00, 00, .5); box-shadow: 0px 3px 6px 2px rgba(00, 00, 00, .5);}
	nav.primarynav ul {display: block; margin: auto; float: left; text-align: center; }
		nav.primarynav ul li {display: block;}
			nav.primarynav ul li a, nav.primarynav ul li a:visited{display: block; color: #ffffff; padding: .5em 1.5em; text-decoration: none;}
			nav.primarynav ul li a:hover{background: rgb(77,142,196); color: rgb(255,255,255);}


nav.secondarynav { font-size: 1em; margin: 20px 20px 10px 0px; padding: 0; float: left; }
	nav.secondarynav ul {display: block; margin: 0; padding: 0; float: left; clear: left; text-align: center; width: 200px; background: rgb(255,255,255); background: rgba(255,255,255,.98);  }
		nav.secondarynav ul li {display: block; border-bottom: dotted 1px rgb(77,142,196); margin:0; padding: 0;}
			nav.secondarynav ul li a, nav ul li a:visited{display: block; padding: .5em 1.5em .5em 1.5em; text-decoration: none; font-weight: normal; color: rgb(0,73,144);}
				nav.secondarynav ul li li a, nav ul li li a:visited{padding-left: 3em;}
					nav.secondarynav ul li li li a, nav ul li li li a:visited{padding-left: 4.5em;}

			nav.secondarynav a:hover {background: rgb(77,142,196); color: rgb(255,255,255);}
nav.secondarynav ul.relatedlinks {margin-top: 1em;}
	nav.secondarynav ul.relatedlinks {float: left; clear: left; background: rgb(240,240,247); background: rgba(240,240,247,.98);}
	nav.secondarynav ul.relatedlinks h2 {display: block; margin:0; padding: .5em 1.5em .25em 1.25em; font-size: 14px; text-transform: uppercase; text-decoration: none; font-weight: normal; color: rgb(0,73,144);}
	
article {background: rgb(212,244,244); clear: both;}
	#maincontent hgroup {position: relative; margin-left: 115px;}
	#maincontent hgroup h1 {}
	
	#maincontent hgroup #infocontact {background: rgb(255,255,255); background: rgba(255,255,255,.95); padding: 5px;  z-index: 10000;  position: absolute; -webkit-box-shadow: 0px 3px 5px 0px rgba(00, 00, 00, .5); box-shadow: 0px 3px 6px 2px rgba(00, 00, 00, .5); }
		#maincontent hgroup #infocontact h2 {font-size: 14px; font-weight: normal; text-align: center; border-bottom: dotted 1px rgb(77,142,196); line-height: 1.5em;}	
		#maincontent hgroup #infocontact dl {font-size: 12px}	
		#maincontent hgroup #infocontact dt {float: left; clear: left; width: 200px; text-align: right; margin: 0; padding: 0;}	
		#maincontent hgroup #infocontact dd {float: left; margin: 0 0 0 20px; padding: 0; width: 200px;}	
	#togglecontact {background: rgb(129,21,23); color: rgb(255,255,255); font-size: 12px; display: block; width: 110px; padding: 2px; margin: 0; text-align: center; margin-top: -37px;line-height: 14px; text-decoration: none;}
	article aside {background: rgb(145,145,232); min-height: 160px;}
aside {background: rgb(145,232,232); min-height: 160px;}
footer {min-height: 160px; margin-top: 30px;}






/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== 

@media only screen and (min-width: 0em) {
  body {background: red;}
	header {width:100%;}
	nav.primarynav {width: 100%}
		nav.primarynav ul {width: 100%;}
			nav.primarynav li {width: 100%;}
				nav.primarynav li a {width: 100%;}

	article {}
			article aside {float: right; vertical-align: 100%; width: 50%; margin: 0 0 1em 1em;}
	aside {float: left; width: 100%;}
	footer {clear: both;}

}*/

@media only screen and (min-width: 36em) {
  body {background: rgb(236,238,246) url(../img/mainbg.jpg) bottom repeat-x; padding: 0; margin: 0;}
  	.wrapperheader {width: 1215px; height: 102px; margin: auto; background: rgb(236,238,246) url(../img/headerbg.png) center repeat-y;-webkit-box-shadow: 0px 20px 40px -40px ;
box-shadow: 0px 20px 30px -25px rgba(00, 00, 00, .5) }
  	.pageheader {width: 960px; margin: 0 auto;}
  	.wrappermain {width: 960px; margin: auto; clear: left;}
  	.wrapperfooter {width: 960px; margin: 0 auto 20px auto;}
  	
  	
  	header {min-width: 880px; margin-left: 0px;}
	nav.primarynav {}
		nav.primarynav ul {min-width: 875px;}
		 nav.primarynav ul li {display: inline; width: auto;}
			 nav.primarynav ul li a{float: left; width: auto;}
	nav.secondarynav {}
	nav.secondarynav ul {  }
		nav.secondarynav ul li { text-align: left;}

		 
			 
	#maincontent {width: 834px; margin: 0 0 0 85px; padding: 38px 20px 40px 20px; font-size: 1em; line-height: 1.5em; background: rgb(255,255,255); background: rgba(255,255,255,.7); -webkit-box-shadow: 0px 3px 5px 0px rgba(00, 00, 00, .5); box-shadow: 0px 3px 6px 2px rgba(00, 00, 00, .5); }
	#maincontent hgroup {margin-top: 30px; line-height: 2em; font-size: 1.5em}
	
	article {height: auto;
	display: inline;
		-moz-column-count: 2;
		-moz-column-gap: 2em;
		-webkit-column-count: 2;
		-webkit-column-gap: 2em;
		column-count: 2;
		column-gap: 2em;}
	aside {width: 30%; float: right;}
	footer {clear: both; margin-left: 85px; background: rgb(255,255,255); background: rgba(255,255,255,.8); -webkit-box-shadow: 0px 3px 5px 0px rgba(00, 00, 00, .5); box-shadow: 0px 3px 6px 2px rgba(00, 00, 00, .5);}

}

@media only screen and (min-width: 100em) {
  body {}
    	.wrappermain {width: 1200px; margin: auto;}
    		#maincontent {width: 1074px; }
			.wrapperfooter {width: 1195px;}
				footer {margin-left: 85px;}

	header {}
	nav {}
	#maincontent hgroup {}
	article {
	}
	aside {}
	footer {}
}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
